// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #4b5f24;

$title-color:       rgba(255, 255, 255, 1);
$moreinfo-color:    rgba(255, 255, 255, 0.3);
$large-font: 100px;
$medium-font: 70px;

$meter-background:  rgba(20, 20, 20, 1);

// ----------------------------------------------------------------------------
// Widget-jenkins-build styles
// ----------------------------------------------------------------------------
.widget-jenkins-build {

  background-color: $background-color;

  canvas {
    margin-bottom: -25px;
  }

  .title {
    color: $title-color;
    font-size: $large-font;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 1);
  }

  h4 {
    font-size: $large-font;
  }
  
  .large-font {
    font-size: $large-font;
  }
  
  .failed {
    background-color: red;
  }

}
